{% extends 'lyve/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container mt-6">
    <div class="row">
        <div class="col-md-8">
            <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
                <h2 class="mb-12 text-2xl ">About</h2>
                <p class="mb-12 text-2xl ">This site is for people who are new to skincare and for people who want to learn more about it. Our main goal is to help beginners start a skincare routine without getting any permanent skin damage. Our labeling system helps users to see what is dangerous for them and compare products to choose the best option.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Begin Somewhere!</h3>
                <p class='text-muted'>Learn more about skincare.
                <ul class="list-group">
                    <a href='/skintype' class="list-group-item list-group-item-light">Skin Type</a>
                    <a href='#' class="list-group-item list-group-item-light">Labeling System</a>
                    <a href='/skincareroutine' class="list-group-item list-group-item-light">Skincare Routine</a>
                    <a href='/about' class="list-group-item list-group-item-light">About</a>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
