{% extends "lyve/base.html" %}
{% load static %}
{% block title %}Home {% endblock %}

{% block content %}
        <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">

  <style>

    .mySlides {
      display: none;
    }
    img {
      display: block;
      margin: 0 auto;
      vertical-align: middle;
      max-width: 70%; /* Adjust image width */
    }

    /* Slideshow container */
    .slideshow-container {
      max-width: 500px;
      position: relative;
      margin: auto;
    }

    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
      height: 10px;
      width: 10px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    .active {
        background-color: #717171
    }

    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 10s;
    }

    @keyframes fade {
          from {
            opacity: 1
          }

          to {
            opacity: 1
          }
        }

    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .text {
        font-size: 11px
      }
    }
  </style>

  <p></p>

  <div class="slideshow-container">
    <!-- First slide -->
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="{% static 'images/5.jpeg' %}" alt="Image1">
      <div class="text"></div>
    </div>

    <!-- Second slide -->
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="{% static 'images/4.jpeg' %}" alt="Image2">
      <div class="text"></div>
    </div>

    <!-- Third slide -->
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="{% static 'images/3.jpg' %}" alt="Image3">
      <div class="text"></div>
    </div>
  </div>

  <!-- Dots/bullets -->
  <br>
  <div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>

  <script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) {
        slideIndex = 1
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
      setTimeout(showSlides, 8000); // Change image every 2 seconds
    }
  </script>
    </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Begin Somewhere!</h3>
            <p class='text-muted'>Learn more about skincare.
              <ul class="list-group">
              <a href='/skintype' class="list-group-item list-group-item-light">Skin Type</a>
              <a href='/labeling' class="list-group-item list-group-item-light">Labeling System</a>
              <a href='/skincareroutine' class="list-group-item list-group-item-light">Skincare Routine</a>
              <a href='/about' class="list-group-item list-group-item-light">About</a>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
{% endblock %}
